{% extends 'base_with_footer.html' %}
{% block head_title %}{{ block.super }} Homepage {% endblock head_title %}

{% block content %}
     
    
     
   
  
    


     
     
     
     
     
     
     
     
     
     
     
    
   
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://mdbootstrap.com/img/new/slides/042.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://mdbootstrap.com/img/new/slides/043.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <hr>
    <hr>
    <h1> La Mia Essenza </h1>
      
    <p>
    
            

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare mi id urna fringilla cursus. Mauris id condimentum lacus. Proin condimentum lobortis dapibus. Praesent maximus lacus id nisi lobortis vestibulum. Maecenas aliquet convallis bibendum. Cras consectetur accumsan turpis, ultrices condimentum purus dictum ut. Aenean porta nibh vel tortor luctus, quis consequat lacus condimentum. Mauris pulvinar, elit aliquet accumsan tempus, nulla libero facilisis ligula, a placerat velit lacus eu sapien. Quisque porta sapien at erat pretium placerat. Vestibulum ornare nisi eu nibh gravida, non porttitor libero aliquam. Nulla velit metus, placerat nec metus id, luctus euismod felis. Sed sed urna molestie, fringilla orci sit amet, porta justo. Phasellus vulputate sit amet ex et dignissim. Etiam vel eros eu diam luctus iaculis. Proin ut pellentesque odio.

        Maecenas mollis porttitor consectetur. Etiam tristique porta tristique. Nullam condimentum ipsum non mi commodo, id ultrices nunc ultricies. Maecenas at eros congue, accumsan nibh non, faucibus enim. In at lorem diam. Vivamus in turpis laoreet, bibendum ipsum tempus, rutrum nunc. Phasellus interdum turpis feugiat mauris fermentum, a vehicula tellus bibendum. Suspendisse et interdum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet semper felis. Proin et ligula arcu. Etiam cursus fringilla sapien, in iaculis erat varius at. In vulputate neque eu euismod auctor. Aenean quis convallis quam. Aenean sit amet felis id sem eleifend convallis tempus id massa.

        Mauris eu pharetra dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mi magna. Ut commodo magna ut ante dapibus rhoncus. Ut dignissim massa tincidunt purus euismod, eget molestie erat faucibus. Praesent pretium interdum pulvinar. Nulla ut sapien quis velit venenatis consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut id elementum libero. In sollicitudin ultricies hendrerit.

        Vivamus et lacus vehicula, ornare magna a, condimentum nisi. Duis luctus odio eget vulputate gravida. Mauris porttitor ex ac mauris finibus pharetra. Phasellus eros neque, tincidunt non velit id, viverra pretium mi. Proin venenatis erat mi, non molestie ipsum commodo eu. Praesent elementum risus ex, nec rhoncus urna tristique elementum. Mauris feugiat fermentum nisi nec pellentesque. Donec egestas diam quis molestie bibendum. Aliquam aliquet leo vitae pretium finibus. Etiam dui metus, faucibus eu mattis id, convallis nec nunc. Nam et neque tristique, hendrerit lectus in, vulputate odio. Mauris fermentum congue dictum. Nulla ullamcorper scelerisque dolor vitae lacinia. Integer ut efficitur eros. Maecenas elementum tincidunt ex et tempus. Morbi fringilla volutpat augue, dapibus tincidunt est interdum ut.

        Nunc libero dui, egestas eget ornare sed, bibendum quis justo. Integer eleifend metus at augue aliquam venenatis. Vestibulum in pellentesque elit. Donec ac nisl vel tellus auctor aliquam aliquet id diam. Nunc aliquet ornare purus id interdum. Sed orci purus, accumsan vel semper eget, laoreet id nibh. Sed quis sem sit amet sem semper finibus. Nulla posuere libero dictum, auctor erat sed, pulvinar risus. Pellentesque ut faucibus orci, id scelerisque nibh. Donec eu orci et lectus vulputate facilisis. Phasellus ornare ante et dolor gravida vehicula. Proin iaculis lorem in dolor accumsan porta. Sed ipsum nulla, interdum facilisis arcu ac, laoreet pellentesque enim. 
            
    </p>
    
    <br>
    <br>
    
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://mdbootstrap.com/img/new/slides/020.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://mdbootstrap.com/img/new/slides/021.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://mdbootstrap.com/img/new/slides/022.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    
    <br>
    <br>
    
    <div class="container">
  <div class="row">
    <div class="col">
      <h1>Scopri chi sono ! </h1>
          <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lorem a urna tristique tincidunt. Etiam at blandit sapien. Nunc elit ex, cursus ac diam in, finibus semper risus. Cras tempus leo vel massa tristique, sit amet condimentum nisl efficitur. Phasellus malesuada metus nec orci dapibus, vitae condimentum lectus lacinia. Duis consequat sed augue nec tincidunt. Vivamus quis ex at erat pellentesque bibendum id nec neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce in quam ornare, blandit justo volutpat, vehicula metus. Aliquam faucibus id eros eget consequat. Ut sollicitudin ante nisl, volutpat aliquam justo aliquet ut. Maecenas posuere interdum eros nec convallis.

                    Etiam dignissim ac ex ut ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut tempor facilisis dapibus. Morbi malesuada nisi quis scelerisque ornare. Aenean ac nibh hendrerit, vestibulum nulla in, faucibus est. Aenean venenatis metus vehicula orci mattis sollicitudin. Cras molestie leo sit amet ipsum ultrices pellentesque. Cras congue fermentum suscipit. Aliquam justo diam, posuere eget iaculis semper, varius sit amet metus. Nam finibus pulvinar nisl vitae consequat.

                    Fusce mattis, dui nec sollicitudin gravida, tortor elit bibendum urna, nec varius justo ligula eget urna. Ut placerat eros in turpis ullamcorper, eget tempor mi tempus. Mauris mi nunc, blandit aliquam nisi ut, malesuada lacinia velit. Duis egestas maximus lacus vel mollis. Nulla a lacus rhoncus, tristique augue ac, euismod felis. Mauris faucibus libero nisi, quis convallis massa pharetra nec. Cras euismod magna nec mauris mollis iaculis. Aliquam venenatis pulvinar consequat.
          </p>
          <br>
          
            <button type="button" class="btn btn-primary btn-lg">
                 <a style="color:white;" href="{% url 'Vai_profilo'  %}" >Vai al mio profilo </a></h5>
            </button>
    </div>
    <div class="col">
      <img src="https://mdbootstrap.com/img/new/slides/030.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
     <br>
    <br>
  

   
{% endblock content %}
