{% extends 'base_with_footer.html' %}
{% block head_title %}{{ block.super }} Chi Sono {% endblock head_title %}

{% block content %}
    
    
    
   
    

    <hr>
    <hr>
    <h1> Di cosa mi occupo </h1>
       <hr>
       <div class="container-fluid">
        <img src="https://mdbootstrap.com/img/new/slides/032.jpg" class="d-block w-100" alt="...">
    </div>
    <hr>
    <br>
      <h2> Consulenze </h2>
    <p>
    
            

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare mi id urna fringilla cursus. Mauris id condimentum lacus. Proin condimentum lobortis dapibus. Praesent maximus lacus id nisi lobortis vestibulum. Maecenas aliquet convallis bibendum. Cras consectetur accumsan turpis, ultrices condimentum purus dictum ut. Aenean porta nibh vel tortor luctus, quis consequat lacus condimentum. Mauris pulvinar, elit aliquet accumsan tempus, nulla libero facilisis ligula, a placerat velit lacus eu sapien. Quisque porta sapien at erat pretium placerat. Vestibulum ornare nisi eu nibh gravida, non porttitor libero aliquam. Nulla velit metus, placerat nec metus id, luctus euismod felis. Sed sed urna molestie, fringilla orci sit amet, porta justo. Phasellus vulputate sit amet ex et dignissim. Etiam vel eros eu diam luctus iaculis. Proin ut pellentesque odio.

        Maecenas mollis porttitor consectetur. Etiam tristique porta tristique. Nullam condimentum ipsum non mi commodo, id ultrices nunc ultricies. Maecenas at eros congue, accumsan nibh non, faucibus enim. In at lorem diam. Vivamus in turpis laoreet, bibendum ipsum tempus, rutrum nunc. Phasellus interdum turpis feugiat mauris fermentum, a vehicula tellus bibendum. Suspendisse et interdum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet semper felis. Proin et ligula arcu. Etiam cursus fringilla sapien, in iaculis erat varius at. In vulputate neque eu euismod auctor. Aenean quis convallis quam. Aenean sit amet felis id sem eleifend convallis tempus id massa.

        Mauris eu pharetra dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mi magna. Ut commodo magna ut ante dapibus rhoncus. Ut dignissim massa tincidunt purus euismod, eget molestie erat faucibus. Praesent pretium interdum pulvinar. Nulla ut sapien quis velit venenatis consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut id elementum libero. In sollicitudin ultricies hendrerit.

        Vivamus et lacus vehicula, ornare magna a, condimentum nisi. Duis luctus odio eget vulputate gravida. Mauris porttitor ex ac mauris finibus pharetra. Phasellus eros neque, tincidunt non velit id, viverra pretium mi. Proin venenatis erat mi, non molestie ipsum commodo eu. Praesent elementum risus ex, nec rhoncus urna tristique elementum. Mauris feugiat fermentum nisi nec pellentesque. Donec egestas diam quis molestie bibendum. Aliquam aliquet leo vitae pretium finibus. Etiam dui metus, faucibus eu mattis id, convallis nec nunc. Nam et neque tristique, hendrerit lectus in, vulputate odio. Mauris fermentum congue dictum. Nulla ullamcorper scelerisque dolor vitae lacinia. Integer ut efficitur eros. Maecenas elementum tincidunt ex et tempus. Morbi fringilla volutpat augue, dapibus tincidunt est interdum ut.

        Nunc libero dui, egestas eget ornare sed, bibendum quis justo. Integer eleifend metus at augue aliquam venenatis. Vestibulum in pellentesque elit. Donec ac nisl vel tellus auctor aliquam aliquet id diam. Nunc aliquet ornare purus id interdum. Sed orci purus, accumsan vel semper eget, laoreet id nibh. Sed quis sem sit amet sem semper finibus. Nulla posuere libero dictum, auctor erat sed, pulvinar risus. Pellentesque ut faucibus orci, id scelerisque nibh. Donec eu orci et lectus vulputate facilisis. Phasellus ornare ante et dolor gravida vehicula. Proin iaculis lorem in dolor accumsan porta. Sed ipsum nulla, interdum facilisis arcu ac, laoreet pellentesque enim. 
            
    </p>
    
    <br>
    <br>
    <hr>
    
    <h2> Servizio Cerca Ingredienti </h2>
    <p>
    
            

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare mi id urna fringilla cursus. Mauris id condimentum lacus. Proin condimentum lobortis dapibus. Praesent maximus lacus id nisi lobortis vestibulum. Maecenas aliquet convallis bibendum. Cras consectetur accumsan turpis, ultrices condimentum purus dictum ut. Aenean porta nibh vel tortor luctus, quis consequat lacus condimentum. Mauris pulvinar, elit aliquet accumsan tempus, nulla libero facilisis ligula, a placerat velit lacus eu sapien. Quisque porta sapien at erat pretium placerat. Vestibulum ornare nisi eu nibh gravida, non porttitor libero aliquam. Nulla velit metus, placerat nec metus id, luctus euismod felis. Sed sed urna molestie, fringilla orci sit amet, porta justo. Phasellus vulputate sit amet ex et dignissim. Etiam vel eros eu diam luctus iaculis. Proin ut pellentesque odio.

        Maecenas mollis porttitor consectetur. Etiam tristique porta tristique. Nullam condimentum ipsum non mi commodo, id ultrices nunc ultricies. Maecenas at eros congue, accumsan nibh non, faucibus enim. In at lorem diam. Vivamus in turpis laoreet, bibendum ipsum tempus, rutrum nunc. Phasellus interdum turpis feugiat mauris fermentum, a vehicula tellus bibendum. Suspendisse et interdum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet semper felis. Proin et ligula arcu. Etiam cursus fringilla sapien, in iaculis erat varius at. In vulputate neque eu euismod auctor. Aenean quis convallis quam. Aenean sit amet felis id sem eleifend convallis tempus id massa.

       aliquam aliquet id diam. Nunc aliquet ornare purus id interdum. Sed orci purus, accumsan vel semper eget, laoreet id nibh. Sed quis sem sit amet sem semper finibus. Nulla posuere libero dictum, auctor erat sed, pulvinar risus. Pellentesque ut faucibus orci, id scelerisque nibh. Donec eu orci et lectus vulputate facilisis. Phasellus ornare ante et dolor gravida vehicula. Proin iaculis lorem in dolor accumsan porta. Sed ipsum nulla, interdum facilisis arcu ac, laoreet pellentesque enim. 
            
    </p>
    
     <div class="container">
     <button type="button" class="btn btn-primary btn-lg">
                 <a style="color:white;" href="{% url 'Cerca_ingrediente_cliente'  %}" >Cerca Ingrediente </a></h5>
            </button>      
    </div >
  

   
{% endblock content %}
